<!doctype html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page.title }} / Line Maps by Chitose.City 由千岁企划绘制的线路图</title>

        <!-- 搜索引擎优化项目 -->    
        <meta name="description" content="{{page.desc}}">
        <meta name="keywords" content="{{page.keywords}}">

        <!-- global: header + footer, page.css 页面specific样式 -->
        <link rel="stylesheet" href="{{site.baseurl}}/assets/css/global.css">
        <link rel="stylesheet" href="{{site.baseurl}}/assets/css/posts.css">

        <link rel="icon" href="{{ site.baseurl }}/favicon.svg">

        <style>
            #logo-bar {
                width: 12px;
                height: 29px;
                background: {% if page.logo_bar %}url({{site.baseurl}}/assets/logo-bar/{{ page.logo_bar }}){% else %}url({{site.baseurl}}/assets/logo-bar/empty.svg){% endif %};
            }        
        </style>
    </head>
    <body>
        <script>
            // 检查用户是否已完成 onboarding
            if (!localStorage.getItem('onboardingCompleted')) {
                // 如果当前不在 onboarding 页面，保存当前页面地址并跳转到 onboarding 页面
                if (!window.location.pathname.includes('onboarding')) {
                    localStorage.setItem('intendedPage', window.location.pathname);
                    window.location.href = '/onboarding';
                }
            }
        </script>

        {% include navbar.html %}

        <section id="main">

            <div class="post-info">
                <div id="post-actions" class="fl-row fl-nw gap-6 ai-center">
                    <button type="button" class="post-button" onclick="history.back()" title="返回上一页 Back">
                        <img src="{{site.baseurl}}/assets/icon/back-arrow.svg" alt="BACK">
                    </button>
                    <button type="button" class="post-button" onclick="window.location.href='/';" title="返回主页 Back to Home">
                        <img src="{{site.baseurl}}/assets/icon/home.svg" alt="HOME">
                    </button>

                    <div id="categories-list" class="g1">
                        {% for category in page.categories %}
                            {% if forloop.index > 1 %} · {% endif %}
                            <span>{{ category }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div id="post-title-row" class="fl-row fl-nw gap-6">
                {% if page.categories contains "update" %}
                    <span style="display:inline-block;width:12px;background:{{ page.color }};vertical-align:middle;border-radius:2px"></span>
                {% endif %}
                    <h1 class="news-title">{{ page.title }}</h1>  
                </div>
                <p class="news-desc">{{ page.desc }}</p>
                <div class="news-info">
                    <span class="postDate">{{ page.date | date: "%Y/%-m/%-d" }}</span>
                    <!-- 新闻类型Tag -->
                    {% if post.categories contains "update" %}
                        <span style="color: #08795E;font-weight: 500;">UPDATE · 更新</span>                                
                    {% endif %}
                    {% if post.categories contains "event" %}
                        <span style="color: #D29920;font-weight: 500;">EVENT · 活动</span>                                                            
                    {% endif %}                
                </div>       
            </div>

            <div class="break"></div>

            <div class="post-content">
                {{ content }}
            </div>

        </section>

        {% include footer.html %}

    </body>
</html>